<h1>Position Details</h1>

<h2><%= @user.name %> - <%= @position.title %></h2>
<p>Started: <%= @position.started_at %></p>
<p>Ended: <%= @position.ended_at %></p>
<p>Salary: <%= @position.salary.annual_salary %></p>

<h3>Evaluations</h3>
<% @position.evaluations.each do |evaluation| %>
  <div class="evalution">
    <%= "PROBATION" if evaluation.probation %>
    <p><%= evaluation.summary %></p>
  </div>
<% end %>


